<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AICTE1</display-name>
  <servlet>
    <servlet-name>Insert</servlet-name>
    <servlet-class>dbconn.Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertStudent</servlet-name>
    <servlet-class>dbconn.InsertStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStudent</servlet-name>
    <url-pattern>/InsertStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>dbconn.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CollegeReg</servlet-name>
    <servlet-class>dbconn.CollegeReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollegeReg</servlet-name>
    <url-pattern>/CollegeReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Redundant</servlet-name>
    <servlet-class>dbconn.RedundantR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redundant</servlet-name>
    <url-pattern>/RedundantR</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>dbconn.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stulogin</servlet-name>
    <servlet-class>dbconn.stulogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stulogin</servlet-name>
    <url-pattern>/stulogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dropout</servlet-name>
    <servlet-class>dbconn.dropout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dropout</servlet-name>
    <url-pattern>/dropout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stulogout</servlet-name>
    <servlet-class>dbconn.stulogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stulogout</servlet-name>
    <url-pattern>/stulogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Redundant1</servlet-name>
    <servlet-class>dbconn.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redundant1</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>facultyratio</servlet-name>
    <servlet-class>dbconn.facultyratio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>facultyratio</servlet-name>
    <url-pattern>/facultyratio</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>dropoutupdate</servlet-name>
    <servlet-class>dbconn.dropoutupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dropoutupdate</servlet-name>
    <url-pattern>/dropoutupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>trendupdate</servlet-name>
    <servlet-class>dbconn.trendupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trendupdate</servlet-name>
    <url-pattern>/trendupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>trends</servlet-name>
    <servlet-class>dbconn.trends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trends</servlet-name>
    <url-pattern>/trends</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>SearchS</servlet-name>
    <servlet-class>dbconn.SearchS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchS</servlet-name>
    <url-pattern>/SearchS</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>deleteimport</servlet-name>
    <servlet-class>dbconn.deleteimport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteimport</servlet-name>
    <url-pattern>/deleteimport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteimportsf</servlet-name>
    <servlet-class>dbconn.deleteimportsf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteimportsf</servlet-name>
    <url-pattern>/deleteimportsf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>discrepncy</servlet-name>
    <servlet-class>dbconn.discrepncy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>discrepncy</servlet-name>
    <url-pattern>/discrepncy</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>